
<body>
  <section class="main-header">
    <h1>Blog</h1>
  </section>

  <section class="about">
    <div class="container">
      <h1>About Blog</h1>
        <ul class="row">
          <br>
          <li class="col-xs-1, col-md-6, col-lg-12">Blogは、DICの生徒として試しに作ってみたBlog機能を持つアプリケーションです。</li>
          <br>
          <br>
          <li class="col-xs-1, col-md-6, col-lg-12">Blogを一言で表すと、Blogアプリです(笑)。</li>
          <br>
          <br>
          <li class="col-xs-1, col-md-6, col-lg-12">日常の中の特別を見つけて記録し共有することで、シェアハピに繋げよう！</li>
        <ul>
    </div>

  </section>


</body>
