<h1 class="user-image"><%= image_tag @user.image %><%= @user.name %>さんのページだよ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h3>お気に入り一覧</h3>
<% @favorite.each do |favorite| %>
      <p><%= favorite.blog.title %></p>
<% end %>
